* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #212121;

}
#sidebar {
  height: 100vh;
  display: grid;
  grid-template-columns: 80px 1fr;
  transition: 0.5s ease;
  grid-template-rows: 60px 1fr;
  font-size: 100%;
  font: inherit;
  font-family: 'Poppins', sans-serif;

}
.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: absolute;
  top: 20px;
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  padding-top: 10px; 
}

.login-brand-logo {
  width: 200px;
  height: 55px;
  object-fit: contain;
  object-position: center;
}

.login-group {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.login-input {
  width: 100%;
  border: 0.6px solid #D5D5D5;
  background-color: #242424;
  color: #797A7C;
  padding: 8px 20px 8px 30px;
  margin-top: 10px;
  font-size: 18px;
}

.login-input:focus {
  outline: none;
}

.login-btn {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin-top: 20px;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #956C04;
  border: 1px solid #956C04;
  transition: 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: transparent;
  border: 2px solid #956C04;
  color: #956C04;
  transition: 0.3s ease-in-out;
}
.error-text{
  color: red;
  padding:10px 0px 0px 10px
}
.success-text{
  color: #956C04;
  padding:10px 0px 0px 10px

}
#toggleIcon {
  position: absolute;
  right: 10px;
  bottom: 14px;
  font-size: 16px;
}
.header {
  background-color: #212121;
  grid-column: 2/3;
  grid-row: 1/2;
}

.sidebar {
  background-color: #212121;
  grid-column: 1/2;
  grid-row: 1/3;
}

.main {
  background: #242424;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 30px;

}

.searchField {
  color: #fff;
  background-color: #242424;
  width: 300px;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 4px;
  padding-left: 24px;
}

.searchIcon {
  position: absolute;
  top: 10px;
  left: 4px
}

.notiBell {
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 14px;
}

.notiBell i {
  font-size: 22px;
}

.notiBell::after {
  display: none;
}

.notiBadge {
  background-color: #C69006;
  color: white;
  font-size: 12px;
  padding: 0px 6px; 
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -12px;
  min-width: 20px; 
  height: 20px;
  line-height: 20px;
  text-align: center; 
  white-space: nowrap; 
  box-sizing: border-box; 
}
.modal-content {
    background-color: #202224;  /* Light blue background color */
    color: #333;                 /* Text color inside modal */
}

.modal-body {
    background-color: #202224;  /* White background for modal body */
    color: #555;                 /* Text color inside modal body */
}

.modal-header {
    background-color: #202224;  /* Header background color */
    color: #000;                 /* Text color in the header */
}

.mark-seen{
color: #F9C134;
transition: 0.3s ease all;
font-size: 12px;
cursor: pointer;
}
.mark-seen:hover{
color: #039855;
}
.notificationModalheader{
 display: flex;
 justify-content: space-between;
 align-items: center;
 
}
.notiticketwrapper{
  display: flex;
 justify-content: center;
 align-items: center;
}

/* Base style for the checkbox */
.notification-checkbox {
  position: relative;
  width: 15px; 
  height: 15px;
  border-radius: 2px; /* Rounded corners for the checkbox */
  border: 2px solid #ccc; /* Default border color */
  background-color: #fff; /* Background color when unchecked */
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
  appearance: none; /* Remove default checkbox style */
}

/* Style when the checkbox is checked */
.notification-checkbox:checked {
  background-color: #F9C134; /* Yellow background when checked */
  border-color: #F9C134; /* Border color to match the background */
}

/* Add the checkmark when checked */
.notification-checkbox:checked::before {
  content: "\2713"; /* Unicode checkmark character */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the checkmark */
  font-size: 14px; /* Size of the checkmark */
  color: white; /* Color of the checkmark */
  text-align: center;
  line-height: 16px; /* Adjust to vertically center the checkmark */
}

/* Hover effect for better interaction */
.notification-checkbox:hover {
  cursor: pointer; /* Change cursor to pointer when hovering */
  border-color: #F9C134; /* Highlight border on hover */
}

.notification-checkbox:checked:hover {
  background-color: #f9d334; /* Slightly darker yellow when checked and hovered */
}

/* Focus effect to remove outline */
.notification-checkbox:focus {
  outline: none; /* Removes the outline when the checkbox is focused */
}

.ticketIcon {
  background-color: #FAC985;
  width: 22px;
  height: 22px;
  border-radius: 100%;
}

.ticketHeading {
  color: #C69006;
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px;
}

.ticketBadge {
  background-color: #FECDCA;
  border-radius: 4px;
  padding: 5px 10px;
  color: #F04438;
  font-size: 12px;
  font-weight: 500;
}

.ticketPosting {
  color: #636466;
  font-size: 12px;
  font-weight: 500;
  width: 400px;
}

.ticketQuestion {
  color: #202224;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 10px 0;
}

.ticketPara {
  color: #4D4E50;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


#sidebar {
  transition: 0.3s ease;
}

.sideNav {
  padding: 0 0px 0 0;
  height: auto;
  margin-left: -15px;
  position: relative;
}

.sideNav li a,
.collapseBtn {
  color: #636466;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  margin-top: 5px;
  display: block;
  border-radius: 4px;
}

.sideNav li a:hover,
.sideNav li a.active,
.collapseBtn:hover {
  background-color: #956C04;
  border: 1px solid #956C04;
  width: 100%;
  color: white;
  stroke: #fff;
}

.collapseBtn {
  cursor: pointer;
}

.collapseBtn:hover .svgNavIcon {
  fill: #fff;

}

.svgNavIcon {
  fill: #636466;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.svgNavIcon2 {
  width: 24px;
  height: 24px;
  stroke: #636466;
  margin-right: 10px;
}

.sideNav li a.active .svgNavIcon,
.sideNav li a:hover .svgNavIcon {
  fill: #fff;
}

.sideNav li a.active .svgNavIcon2,
.sideNav li a:hover .svgNavIcon2 {
  stroke: #fff;
}

.collapse-ul {
  position: absolute;
  bottom: 10px;
  left: -18px;
}

.addplayerform {
  border: 1px solid #D9D9D91A;
  background: #212121;
  width: 500px;
  margin: 0px auto;
  padding: 10px;
  margin-bottom: 10px;
}

.addplayerlink {
  font-size: 14px;
  color: #C69006;
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.addplayerunderline {
  width: 100%;
  background-color: #fff;
  height: 1px;
  margin-top: 10px;
}

.allLbl {
  color: #fff;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.allinput,
.allinput,
:focus.allinput::placeholder {
  border-radius: 8px;
  padding: 8px 14px;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 14px;
  box-shadow: 0px 1px 2px 0px #1018280D;
  background-color: #36383A;

}

.addplayercancel {
  color: #C69006;
  padding-top: 6px;
}

.addplayerbtn {
  background-color: #C69006;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  color: #fff;

}

.gamesspan {
  color: #C69006;
  text-decoration: underline;

}
/* #games{
  gap: 50px;
} */
.card {
  padding: 0px 1px 20px 1px;
  border-radius: 8px;
  border: 0px 0px 4px 0px;
  border-bottom: 4px solid #C69006;
  margin-top: 10px;
  background-color: #000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.active {
  transform: translateY(-10px);
  /* Move card up */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  /* Elevate effect */
}

.card-content {
  color: #fff;
  padding: 10px;
  margin-bottom: -20px;
  display: none;
}

.card-content.show {
  display: block;
  transition: 0.3s ease;
}

.game-play {
  background-color: #C69006;
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  margin: 30px 10px 10px 10px;
  border: none;
  font-size: 14px;
}

.scale {
  scale: 1
}

.game-rating {
  background-color: #039855;
  border-radius: 4px;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
}

.roombtncontainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.addroombtn {
  background-color: #C69006;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  color: #fff;
  display: inline-block;
}
.logoutbtn {
  background-color: #C69006;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  color: #fff;
  display: inline-block;
}

.roomcard {
  padding: 0px 1px 20px 1px;
  box-shadow: 0px 4px 40px 0px #4A4A4A26;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #212121;
}

.roomdimentiontext {
  font-size: 12px;
  padding-top: 10px;
  color: #A6A7A7;
}

.roomform {
  position: absolute;
  width: 400px;
  border: 1px solid #D9D9D91A;
  background: rgba(33, 33, 33, 0.9);
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1; 
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.roompic{
  width: 100%;
  height: 100px;
  border: 1.5px dashed #A6A7A7;
  color:#A6A7A7 ;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #00000033;
  padding: 20px;
}
.roomsubmitbtn{
  background-color: #C69006;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: bold;
  width: 100%;
  margin-top:30px;
}
.roomformcancel{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

#cameraStream.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9999; 
  background: black;
}

video {
  display: none;
}
.headsetmodel{
  font-size:12px;
  color: rgba(166, 167, 167, 1);

}
.supportbtncontainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.addticketbtn {
  background-color: #C69006;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  color: #fff;
  display: inline-block;
}
.supportnavLinks{
  display:flex;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}
.supportnavitems{
  color: #797A7C;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom:15px

}
.supportnavlinkactive{
  color: rgba(249, 193, 52, 1);
  border-bottom: 3px solid #C69006;
  z-index: 999;
}
.supportnavlinkactive svg path{
  stroke: rgba(249, 193, 52, 1);
}
.supportunderline{
  width: 100%;
  height:1px;
  margin-top: -1px;
  background-color: #fff;
}
.supportcard{
  width: 100%;
  margin-top:20px;
border-radius: 8px;
background-color: rgba(33, 33, 33, 1);
padding: 15px;
}
.supportcircle{
  width: 20px;
  height: 20px;
  background-color:rgba(249, 193, 52, 1);
  border-radius: 50%;
}
.page-item{
  border:1.5px solid #C69006;
  color: #fff;
  padding:8px 18px;
  border-radius:4px;
  text-align: center;
}
.page-itemactive{
  background-color:#C69006;
  color: #fff;
  padding:8px 18px;
  border-radius:4px;
  text-align: center;
}
.supportform {
  position: absolute;
  width: 350px;
  border: 1px solid #D9D9D91A;
  background: rgba(33, 33, 33, 0.9);
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1; 
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.supportsubmitbtn{
  background-color: #C69006;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: bold;
  width: 100%;
  margin-top:30px;
}
.supportformcancel{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
select.allinput {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none; 
  background-image: url('../assets/arrow-down.png'); /* Optional: custom dropdown arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}